.task-form{
    display: grid;
    grid-template-rows: repeat(6,1fr);
    grid-template-columns: repeat(10,1fr);
    gap: 10px;
    border-radius: 0.5rem;
    padding: 2rem; 
    background-color: var(--card-color);
}
.task-form>.heading-task{
    grid-column: 1/7;
}
.task-form >input,textarea{
    background-color: var(--base-color);
    color: white; 
    font-family: monospace;
}

.task-form>.btn{
    padding: 0.75rem;
    margin: 0;
    color: var(--primary-color);
    background-color: transparent;
}
.slider{
    grid-column: 1/7;
    color: var(--primary-color);
}
.btn-add:hover{
    background-color: var(--primary-color);
    color: var(--base-color);
}

.title{
    grid-column: 1/10;
    grid-row: 2/3;
}
.title-count{
    grid-row: 2/3;
    grid-column: 10/11;
}
.task-description{
    grid-row: 3/4;
    grid-column: 1/10;
}
.description-count{
    grid-row: 3/4 ;
    grid-column: 10/11;
}
.focus-time{
grid-row: 4/5;
grid-column: 1/11;
}
.break-time{
grid-row: 5/6;
grid-column: 1/11;
}
.btn-add{
    grid-row: 6/7;
    grid-column: 9/11;
}
.btn-add:disabled{
    cursor: no-drop;
}
.btn-add:disabled:hover{
    transform: scale(100%);
    color: transparent;
    text-shadow: 0 0 0.2rem var(--primary-color);
}
.btn-add:hover{
    transform: scale(95%);
    background-color: transparent;
    color: var(--primary-color);
}
input[type="range"]{
    width: 100%;
}
