.tasks{
    padding: 2rem;
}
.task-heading{
    align-self: center;
}
.head{
    display: flex;
    /* display: grid; */
    justify-content: space-between;   
}
.floating-btn:hover {
    background-color: transparent;
}
.task-container{
    background-color: var(--task-color);
    padding: 1rem;
    border-radius: 0.5rem;
    /* color: var(--primary-color); */
}