.App{
  display: grid;
  background-color: #4C474F;
  background-color: #555356;
  grid-template-columns: 1fr;
  /* grid-template-rows: 0.75fr 10fr; */
  grid-template-areas: 
  "first"
  "second";
  /* "footer"; */
}
body{
  background-color: var(--background-color);
}
:root{
  /* --primary-color:#3F3D56; */
  --secondary-color:white;
  --primary-color:#e5ab4f;
  --task-color: #444156;

  --background-color: #555356;
  --base-color:#2F2E41;
  --cta-color: #3F3D56 ;
  --card-color:#211E2F;
  color: white;
}
.navigation-pomodoro{
  grid-area: first;
  grid-column: 1/2;
}
.home-container{
  grid-area: second;
  grid-column: 1/2;
}
span{
 color: #e5ab4f;
}
